/* Get started */
.gstart {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 8px 0;
  overflow: visible;
  padding: 12px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.gstart:focus {
  text-decoration: none;
}

.gstart:hover {
  text-decoration: none;
}

.gstart:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.gstart:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


@media (min-width: 768px) {
  .gstart {
    padding: 12px 50px;
  }
}



.background-image {
  position: relative;
  background-image: url("images/cover.png");
  /* Specify the path to your background image */
  background-size: cover;
  /* Cover the entire element with the background image */
  background-position: center;
  /* Center the background image */
  color: black;
  /* Set the text color to white (or any color that contrasts with the background) */
  text-align: center;
  /* Center-align the text */
  padding: 310px;
  /* Add padding to the container for spacing */
  height: 310px;
  width: auto;
}

.background-image h1 {
  font-size: 60px;
  position: relative;
  z-index: 1;
  /* Ensure the text appears above the background image */
}